branches/SharedResources/Schemas/JSON_GEN_Schemas/Child.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:ns0="http://www.wvi.org/schemas/Common/CommonLE/JMSOtherProperties/V1"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.wvi.org/schemas/Common/CommonLE/JMSOtherProperties/V1" schemaLocation="JMSHeaders.xsd"/>
	<xs:element name="jsonXml" type="JSONType"/>
	<xs:complexType name="ImmunizationType">
		<xs:sequence>
			<xs:element name="ImmunizationID" type="xs:string" minOccurs="0"/>
			<xs:element name="ImmunizationCode" type="xs:string" minOccurs="0"/>
			<xs:element name="ChildGuid" type="xs:string" minOccurs="0"/>
			<xs:element name="CreatedBy" type="xs:string" minOccurs="0"/>
			<xs:element name="CreatedDate" type="xs:string" minOccurs="0"/>
			<xs:element name="ModifiedBy" type="xs:string" minOccurs="0"/>
			<xs:element name="ModifiedDate" type="xs:string" minOccurs="0"/>
			<xs:element name="BatchNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="Comment" type="xs:string" minOccurs="0"/>
			<xs:element name="WasChildSighted" type="xs:string" minOccurs="0"/>
			<xs:element name="Date" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FamilyMemberType">
		<xs:sequence>
			<xs:element name="FamilyMemberID" type="xs:string" minOccurs="0"/>
			<xs:element name="ChildGuid" type="xs:string" minOccurs="0"/>
			<xs:element name="Relation" type="xs:byte" minOccurs="0"/>
			<xs:element name="FamilyName" type="xs:string" minOccurs="0"/>
			<xs:element name="GivenName" type="xs:string" minOccurs="0"/>
			<xs:element name="BirthDate" type="xs:string" minOccurs="0"/>
			<xs:element name="HealthStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="HealthStatusComment" type="xs:string" minOccurs="0"/>
			<xs:element name="PrimaryCareGiver" type="xs:string" minOccurs="0"/>
			<xs:element name="MainHouseholdProvider" type="xs:string" minOccurs="0"/>
			<xs:element name="YearsOfFormalEducation" type="xs:string" minOccurs="0"/>
			<xs:element name="Gender" type="xs:string" minOccurs="0"/>
			<xs:element name="Situation" type="xs:string" minOccurs="0"/>
			<xs:element name="EmploymentStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="Occupation" type="xs:string" minOccurs="0"/>
			<xs:element name="CreatedBy" type="xs:string" minOccurs="0"/>
			<xs:element name="CreatedDate" type="xs:string" minOccurs="0"/>
			<xs:element name="ModifiedBy" type="xs:string" minOccurs="0"/>
			<xs:element name="ModifiedDate" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChildDisabilityType">
		<xs:sequence>
			<xs:element name="ChildGuid" type="xs:string" minOccurs="0"/>
			<xs:element name="DisabilityCode" type="xs:string" minOccurs="0"/>
			<xs:element name="CreatedBy" type="xs:string" minOccurs="0"/>
			<xs:element name="CreatedDate" type="xs:string" minOccurs="0"/>
			<xs:element name="ModifiedBy" type="xs:string" minOccurs="0"/>
			<xs:element name="ModifiedDate" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DataType">
		<xs:sequence>
			<xs:element name="ProjectID" type="xs:string" minOccurs="0"/>
			<xs:element name="CommunityID" type="xs:string" minOccurs="0"/>
			<xs:element name="ChildID" type="xs:string" minOccurs="0"/>
			<xs:element name="SupportOffice" type="xs:string" minOccurs="0"/>
			<xs:element name="Gender" type="xs:string" minOccurs="0"/>
			<xs:element name="FamilyName" type="xs:string" minOccurs="0"/>
			<xs:element name="GivenName" type="xs:string" minOccurs="0"/>
			<xs:element name="SupportOfficeChildName" type="xs:string" minOccurs="0"/>
			<xs:element name="BirthDate" type="xs:string" minOccurs="0"/>
			<xs:element name="Religion" type="xs:string" minOccurs="0"/>
			<xs:element name="BirthDateVerified" type="xs:string" minOccurs="0"/>
			<xs:element name="PeopleGroup" type="xs:string" minOccurs="0"/>
			<xs:element name="ChildLanguage" type="xs:string" minOccurs="0"/>
			<xs:element name="PictureFolderCode" type="xs:string" minOccurs="0"/>
			<xs:element name="FavoriteSubject" type="xs:string" minOccurs="0"/>
			<xs:element name="HealthStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="HealthStatusComment" type="xs:string" minOccurs="0"/>
			<xs:element name="HealthProbComment" type="xs:string" minOccurs="0"/>
			<xs:element name="ParticipatesHealthNutritionActivities" type="xs:string" minOccurs="0"/>
			<xs:element name="HealthCardVerified" type="xs:string" minOccurs="0"/>
			<xs:element name="Weight" type="xs:string" minOccurs="0"/>
			<xs:element name="MUAC" type="xs:string" minOccurs="0"/>
			<xs:element name="WeightVerifiedDate" type="xs:string" minOccurs="0"/>
			<xs:element name="ImmunizationStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="ChoresPerformed" type="xs:string" minOccurs="0"/>
			<xs:element name="FavoriteGame" type="xs:string" minOccurs="0"/>
			<xs:element name="Brothers" type="xs:string" minOccurs="0"/>
			<xs:element name="Sisters" type="xs:string" minOccurs="0"/>
			<xs:element name="ChildLivesWith" type="xs:string" minOccurs="0"/>
			<xs:element name="ParticipationApprovedBy" type="xs:string" minOccurs="0"/>
			<xs:element name="ParticipationApproverName" type="xs:string" minOccurs="0"/>
			<xs:element name="ChildParticipationApproveComment" type="xs:string" minOccurs="0"/>
			<xs:element name="ChildOccupation" type="xs:string" minOccurs="0"/>
			<xs:element name="ChildWorksWith" type="xs:string" minOccurs="0"/>
			<xs:element name="WhenChildWorks" type="xs:string" minOccurs="0"/>
			<xs:element name="HoursWorkedPerWeek" type="xs:string" minOccurs="0"/>
			<xs:element name="ExplanationWhyNotInSchool" type="xs:string" minOccurs="0"/>
			<xs:element name="ReasonNotinSchoolComment" type="xs:string" minOccurs="0"/>
			<xs:element name="CountryID" type="xs:string" minOccurs="0"/>
			<xs:element name="SponsorAcct" type="xs:string" minOccurs="0"/>
			<xs:element name="CreatedBy" type="xs:string" minOccurs="0"/>
			<xs:element name="CreatedDate" type="xs:string" minOccurs="0"/>
			<xs:element name="ModifiedBy" type="xs:string" minOccurs="0"/>
			<xs:element name="ModifiedDate" type="xs:string" minOccurs="0"/>
			<xs:element name="SponsorshipDate" type="xs:string" minOccurs="0"/>
			<xs:element name="RegisteredChildStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="ReasonforLeaving" type="xs:string" minOccurs="0"/>
			<xs:element name="LastReviewDate" type="xs:string" minOccurs="0"/>
			<xs:element name="LastSightedDate" type="xs:string" minOccurs="0"/>
			<xs:element name="InvolvedinEducationTraining" type="xs:string" minOccurs="0"/>
			<xs:element name="InvolvedinEducationTrainingVerifiedDate" type="xs:string" minOccurs="0"/>
			<xs:element name="YearsofFormalEducation" type="xs:string" minOccurs="0"/>
			<xs:element name="FormalEducationAttVerification" type="xs:string" minOccurs="0"/>
			<xs:element name="VocationalTrainAttVerification" type="xs:string" minOccurs="0"/>
			<xs:element name="NonFormalEduAttVerification" type="xs:string" minOccurs="0"/>
			<xs:element name="Height" type="xs:string" minOccurs="0"/>
			<xs:element name="NutritionComment" type="xs:string" minOccurs="0"/>
			<xs:element name="HealthStatusVerifiedDate" type="xs:string" minOccurs="0"/>
			<xs:element name="ConfidentialData" type="xs:string" minOccurs="0"/>
			<xs:element name="DisabilityComment" type="xs:string" minOccurs="0"/>
			<xs:element name="ZScore" type="xs:string" minOccurs="0"/>
			<xs:element name="AddCorrComment" type="xs:string" minOccurs="0"/>
			<xs:element name="MiscChildComment" type="xs:string" minOccurs="0"/>
			<xs:element name="WeightDecreasedorRemainConstant" type="xs:string" minOccurs="0"/>
			<xs:element name="MUACNutritionalStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="ReasonNotAttendingRegularly" type="xs:string" minOccurs="0"/>
			<xs:element name="AttendEducationVocLearnRegularly" type="xs:string" minOccurs="0"/>
			<xs:element name="NutritionIssueFollowUpDate" type="xs:string" minOccurs="0"/>
			<xs:element name="EducationIssueFollowUpDate" type="xs:string" minOccurs="0"/>
			<xs:element name="ImmunizationIssueFollowUpDate" type="xs:string" minOccurs="0"/>
			<xs:element name="HealthStatusIssueFollowUpDate" type="xs:string" minOccurs="0"/>
			<xs:element name="NutritionIssueFollowUpStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="EducationIssueFollowUpStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="ImmunizationIssueFollowUpStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="HealthStatusIssueFollowUpStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="ImmunizationComment" type="xs:string" minOccurs="0"/>
			<xs:element name="LastIDCardDate" type="xs:string" minOccurs="0"/>
			<xs:element name="ReasonforLeavingComment" type="xs:string" minOccurs="0"/>
			<xs:element name="CameraImageFileName" type="xs:string" minOccurs="0"/>
			<xs:element name="EducationComment" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EducationType">
		<xs:sequence>
			<xs:element name="EducationID" type="xs:string" minOccurs="0"/>
			<xs:element name="ChildGuid" type="xs:string" minOccurs="0"/>
			<xs:element name="Type" type="xs:string" minOccurs="0"/>
			<xs:element name="EducationLevel" type="xs:string" minOccurs="0"/>
			<xs:element name="Grade" type="xs:string" minOccurs="0"/>
			<xs:element name="SchoolName" type="xs:string" minOccurs="0"/>
			<xs:element name="Comment" type="xs:string" minOccurs="0"/>
			<xs:element name="CourseCode" type="xs:string" minOccurs="0"/>
			<xs:element name="StartDate" type="xs:string" minOccurs="0"/>
			<xs:element name="EndDate" type="xs:string" minOccurs="0"/>
			<xs:element name="RecordedDate" type="xs:string" minOccurs="0"/>
			<xs:element name="CreatedBy" type="xs:string" minOccurs="0"/>
			<xs:element name="CreatedDate" type="xs:string" minOccurs="0"/>
			<xs:element name="ModifiedBy" type="xs:string" minOccurs="0"/>
			<xs:element name="ModifiedDate" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChildHealthProblemType">
		<xs:sequence>
			<xs:element name="ChildGuid" type="xs:string" minOccurs="0"/>
			<xs:element name="HealthProblemCode" type="xs:string" minOccurs="0"/>
			<xs:element name="CreatedBy" type="xs:string" minOccurs="0"/>
			<xs:element name="CreatedDate" type="xs:string" minOccurs="0"/>
			<xs:element name="ModifiedBy" type="xs:string" minOccurs="0"/>
			<xs:element name="ModifiedDate" type="xs:string" minOccurs="0"/>
			<xs:element name="Comment" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JSONType">
		<xs:sequence>
			<xs:element name="Entity" type="xs:string" minOccurs="0"/>
			<xs:element name="EntityId" type="xs:string" minOccurs="0"/>
			<xs:element name="Method" type="xs:string" minOccurs="0"/>
			<xs:element name="AuthorId" type="xs:string" minOccurs="0"/>
			<xs:element name="Timestamp" type="xs:string" minOccurs="0"/>
			<xs:element ref="OldTimestamp" minOccurs="0"/>
			<xs:element ref="HashValue" minOccurs="0"/>
			<xs:element name="Data" type="DataType" minOccurs="0"/>
			<xs:element name="ChildDisability" type="ChildDisabilityType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ChildHealthProblem" type="ChildHealthProblemType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Education" type="EducationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="FamilyMember" type="FamilyMemberType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Immunization" type="ImmunizationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ns0:JMSHeaders" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="jsonXml"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OldTimestamp" type="xs:string"/>
	<xs:element name="HashValue" type="xs:string"/>
</xs:schema>