branches/SharedResources/Schemas/JSON_GEN_Schemas/FamilyMember.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://spon.wvi.org/ssda/FamilyMember"
	 xmlns:ns0="http://www.wvi.org/schemas/Common/CommonLE/JMSOtherProperties/V1"
	 targetNamespace="http://spon.wvi.org/ssda/FamilyMember"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.wvi.org/schemas/Common/CommonLE/JMSOtherProperties/V1" schemaLocation="JMSHeaders.xsd"/>
	<xs:element name="jsonXml" type="JSONType"/>
	<xs:complexType name="DataType">
		<xs:all>
			<xs:element name="ChildGUID" type="xs:string"/>
			<xs:element name="Relation" type="xs:string" minOccurs="0"/>
			<xs:element name="FamilyName" type="xs:string" minOccurs="0"/>
			<xs:element name="GivenName" type="xs:string" minOccurs="0"/>
			<xs:element name="BirthDate" type="xs:string" minOccurs="0"/>
			<xs:element name="HealthStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="HealthStatusComment" type="xs:string" minOccurs="0"/>
			<xs:element name="PrimaryCareGiver" type="xs:string" minOccurs="0"/>
			<xs:element name="MainHouseholdProvider" type="xs:string" minOccurs="0"/>
			<xs:element name="YearsOfFormalEducation" type="xs:string" minOccurs="0"/>
			<xs:element name="Gender" type="xs:string" minOccurs="0"/>
			<xs:element name="Situation" type="xs:string" minOccurs="0"/>
			<xs:element name="EmploymentStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="Occupation" type="xs:string" minOccurs="0"/>
			<xs:element name="LegacySerialNo" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="JSONType">
		<xs:sequence>
			<xs:element name="Entity" type="xs:string" minOccurs="0"/>
			<xs:element name="EntityId" type="xs:string" minOccurs="0"/>
			<xs:element name="Method" type="xs:string" minOccurs="0"/>
			<xs:element name="AuthorId" type="xs:string" minOccurs="0"/>
			<xs:element name="Timestamp" type="xs:string" minOccurs="0"/>
			<xs:element name="OldTimestamp" type="xs:string" minOccurs="0"/>
			<xs:element name="HashValue" type="xs:string" minOccurs="0"/>
			<xs:element name="Data" type="DataType" minOccurs="0"/>
			<xs:element ref="ns0:JMSHeaders"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="jsonXml"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>